/*  For software center  */
.KoolshareBottom, .SCBottom {
	width: 230px;
	height: 100px;
	background: url(/res/swrt.png) 0px 3px no-repeat;
	text-align: left;
	padding-left:150px;
	padding-top:8px;
	margin-top:20px;
	float:right;
}

#scapp[scskin=Eva] .KoolshareBottom, #scapp[scskin=Eva] .SCBottom {
	width: 230px;
	height: 100px;
	background: url(/res/eva.png) 0px 3px no-repeat;
	text-align: left;
	padding-left:150px;
	padding-top:8px;
	margin-top:20px;
	float:right;
}

.input_ss_table{
	margin-left:2px;
	padding-left:0.4em;
	height:21px;
	width:158.2px;
	line-height:23px \9;	/*IE*/
	font-size:13px;
	font-family: Lucida Console;
	background-image:none;
	background-color: #3e030d;
	border:1px solid #91071f;
	color:#FFFFFF;
}

.FormTitle i {
    color: #FC0;
    font-style: normal;
}
.FormTitle em {
    color: #00ffe4;
    font-style: normal;
}
.FormTitle b {
    color: #1cfe16;
    font-style: normal;
	font-weight:normal;
}
.FormTitle_firefox i {
    color: #FC0;
    font-style: normal;
}
.FormTitle_firefox em {
    color: #00ffe4;
    font-style: normal;
}
.FormTitle_firefox b {
    color: #1cfe16;
    font-style: normal;
	font-weight:normal;
}
.SimpleNote { padding:5px 10px;}
.NoteButton { padding:5px 10px; margin:10px 0}
#NoteBox { padding:10px}
.FormTable h2,#NoteBox h2 { font-size:16px; border-bottom:1px #AAA dashed; height:26px; color:#1cfe16; margin-top:20px;}
.FormTable h3,#NoteBox h3,
.FormTable h4,#NoteBox h4 { color:#FC0;}
.IE8HACK{
	display: none \9;
}
.splitLine{
	background: #CEC1C7;
	background: -webkit-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: -o-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%,#766D71 100%);
	height: 2px;
	width: 740px;
	margin: 1px 0;
}
.show-install-btn, .show-uninstall-btn {
	border: 1px solid #680516;
	background: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px 5px 0px 0px;
}
.active {
	background: #680516;
	border: 1px solid #680516;
}
#log_content1, #soft_log {
	width:99%;
	font-family:'Lucida Console';
	font-size:12px;
	background:transparent;
	border:1px solid #91071f;
	color:#FFFFFF;
}
#IconContainer {
	border: 1px solid #680516;
}
.ks_btn {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #91071f  0%, #700618 100%);
}
.ks_btn:hover {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #cf0a2c  0%, #91071f 100%);
}
[bgcolor="#4D595D"]{
	background: rgba(0, 0, 0, 0.3);
}
[bgcolor="#444f53"]{
	background: rgba(0, 0, 0, 0.5);
}
.submenuBlock{
	width:735px;
	margin-top:-140px;
	margin-bottom: -3px;
}
.tab{
	cursor:pointer;
	background: #530412;
	color: White;
	float: left;
	height: 30px;
	margin-left: -3px;
	margin-right: 2px;
	text-align:center;
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	border-radius: 5px 5px 0px 0px;
}
.tabClicked{
	cursor:pointer;
	background: rgba(0, 0, 0, 0.5);
	color: White;
	float: left;
	height: 30px;
	margin-left: -3px;
	margin-right: 2px;
	text-align:center;
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	border-radius: 5px 5px 0px 0px;
}

.soft_setting_log{
	margin-top:10px;
	display:block;
	overflow:hidden;
	outline: 1px solid #222;
	outline: 1px solid #91071f;
}

.soft_setting_log1{
	width:97%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:37px;
	font-family:'Lucida Console';
	font-size:11px;
	line-height:1.5;
	color:#FFFFFF;
	outline:none;
	overflow-x:hidden;
	margin-top:1px;
	border:0px solid #222;
	background:#475A5F;
	background:transparent;
}
